In [12]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [84]:

dt1 = dt(year=2024, month=5, day=6)
dt2 = dt(year=2024, month=5, day=8)
dt3 = dt(year=2024, month=5, day=13)
dt4 = dt(year=2024, month=5, day=15)

session_dates = [dt1]*5+[dt2]*5+[dt3]*5+[dt4]*4
session_dates
session_slots = np.array(list(range(5))*4)+1

In [85]:
total_min = 50 * 4
time_each = total_min//len(sdf)
time_each

10

In [86]:
# Let session number be 5/6: 1-5, 5/8: 6-10, ...
sdf = pd.read_csv('students.txt', header=None)
sdf.columns = ['Student']
rng = np.random.RandomState(42)
sdf['rand_number']=rng.rand(len(sdf))
sdf.sort_values('rand_number', inplace=True)
#sdf.reset_index(inplace=True,drop=True)
sdf['presentation_date'] = session_dates
sdf['presentation_slot'] = session_slots[0:len(sdf)]
sdf

                Student  rand_number presentation_date  presentation_slot
10       Jonathan Manke     0.020584        2024-05-06                  1
6         Irena Frenkel     0.058084        2024-05-06                  2
5    Grace Ditzenberger     0.155995        2024-05-06                  3
4       Samuel Dedinsky     0.156019        2024-05-06                  4
14     Cristian Sarabia     0.181825        2024-05-06                  5
15          Anna Sulkko     0.183405        2024-05-08                  1
13        Alina Sanchez     0.212339        2024-05-08                  2
16          Asma Taheri     0.304242        2024-05-08                  3
0         Austin Albino     0.374540        2024-05-08                  4
18           Sean Vieau     0.431945        2024-05-08                  5
17         Lauren Urban     0.524756        2024-05-13                  1
3        Melissa Cuevas     0.598658        2024-05-13                  2
8         Jennifer Kemp     0.601115        2024-05-13                  3
9      Vincent Mainella     0.708073        2024-05-13                  4
2             Kyle Bata     0.731994        2024-05-13                  5
12  Bissilola Nyonyotsi     0.832443        2024-05-15                  1
7         Joanna Garcia     0.866176        2024-05-15                  2
1       Christina Baker     0.950714        2024-05-15                  3
11     David Nerguizian     0.969910        2024-05-15                  4

In [87]:
a_sdf = sdf.copy()
a_sdf.sort_index(inplace=True)
a_sdf

                Student  rand_number presentation_date  presentation_slot
0         Austin Albino     0.374540        2024-05-08                  4
1       Christina Baker     0.950714        2024-05-15                  3
2             Kyle Bata     0.731994        2024-05-13                  5
3        Melissa Cuevas     0.598658        2024-05-13                  2
4       Samuel Dedinsky     0.156019        2024-05-06                  4
5    Grace Ditzenberger     0.155995        2024-05-06                  3
6         Irena Frenkel     0.058084        2024-05-06                  2
7         Joanna Garcia     0.866176        2024-05-15                  2
8         Jennifer Kemp     0.601115        2024-05-13                  3
9      Vincent Mainella     0.708073        2024-05-13                  4
10       Jonathan Manke     0.020584        2024-05-06                  1
11     David Nerguizian     0.969910        2024-05-15                  4
12  Bissilola Nyonyotsi     0.832443        2024-05-15                  1
13        Alina Sanchez     0.212339        2024-05-08                  2
14     Cristian Sarabia     0.181825        2024-05-06                  5
15          Anna Sulkko     0.183405        2024-05-08                  1
16          Asma Taheri     0.304242        2024-05-08                  3
17         Lauren Urban     0.524756        2024-05-13                  1
18           Sean Vieau     0.431945        2024-05-08                  5

In [91]:
print(a_sdf.to_markdown())

|    | Student             |   rand_number | presentation_date   |   presentation_slot |
|---:|:--------------------|--------------:|:--------------------|--------------------:|
|  0 | Austin Albino       |     0.37454   | 2024-05-08 00:00:00 |                   4 |
|  1 | Christina Baker     |     0.950714  | 2024-05-15 00:00:00 |                   3 |
|  2 | Kyle Bata           |     0.731994  | 2024-05-13 00:00:00 |                   5 |
|  3 | Melissa Cuevas      |     0.598658  | 2024-05-13 00:00:00 |                   2 |
|  4 | Samuel Dedinsky     |     0.156019  | 2024-05-06 00:00:00 |                   4 |
|  5 | Grace Ditzenberger  |     0.155995  | 2024-05-06 00:00:00 |                   3 |
|  6 | Irena Frenkel       |     0.0580836 | 2024-05-06 00:00:00 |                   2 |
|  7 | Joanna Garcia       |     0.866176  | 2024-05-15 00:00:00 |                   2 |
|  8 | Jennifer Kemp       |     0.601115  | 2024-05-13 00:00:00 |                   3 |
|  9 | Vincent Mainella    |     0.708073  | 2024-05-13 00:00:00 |                   4 |
| 10 | Jonathan Manke      |     0.0205845 | 2024-05-06 00:00:00 |                   1 |
| 11 | David Nerguizian    |     0.96991   | 2024-05-15 00:00:00 |                   4 |
| 12 | Bissilola Nyonyotsi |     0.832443  | 2024-05-15 00:00:00 |                   1 |
| 13 | Alina Sanchez       |     0.212339  | 2024-05-08 00:00:00 |                   2 |
| 14 | Cristian Sarabia    |     0.181825  | 2024-05-06 00:00:00 |                   5 |
| 15 | Anna Sulkko         |     0.183405  | 2024-05-08 00:00:00 |                   1 |
| 16 | Asma Taheri         |     0.304242  | 2024-05-08 00:00:00 |                   3 |
| 17 | Lauren Urban        |     0.524756  | 2024-05-13 00:00:00 |                   1 |
| 18 | Sean Vieau          |     0.431945  | 2024-05-08 00:00:00 |                   5 |