In [ ]:
##########################################################################################
#                                                                                        #
#  888888b.  8888888 .d88888b.   .d8888b.     .d8888b.   .d8888b.      d8888      d8888  #
#  888  "88b   888  d88P" "Y88b d88P  Y88b   d88P  Y88b d88P  Y88b    d8P888     d8P888  #
#  888  .88P   888  888     888 Y88b.        888        888          d8P 888    d8P 888  #
#  8888888K.   888  888     888  "Y888b.     888d888b.  888d888b.   d8P  888   d8P  888  #
#  888  "Y88b  888  888     888     "Y88b.   888P "Y88b 888P "Y88b d88   888  d88   888  #
#  888    888  888  888     888       "888   888    888 888    888 8888888888 8888888888 #
#  888   d88P  888  Y88b. .d88P Y88b  d88P   Y88b  d88P Y88b  d88P       888        888  #
#  8888888P" 8888888 "Y88888P"   "Y8888P"     "Y8888P"   "Y8888P"        888        888  #
#                                                                                        # 
##########################################################################################
#
# Wrangle Synthetic Medical Record Data
#
##########################################################################################

## Fetch data

https://github.com/ishaghodgaonkar/emrbots/blob/master/100-Patients.zip

unzip it into the Data folder

In [46]:
import pandas as pd
import pylab as plt
import numpy as np
import datetime as dt
import os

#Added for the code below
import matplotlib.pyplot as plt #not working

#Added for grpah below
import plotly.express as px

In [3]:
##################################################################################################################
#
# YouDo: Import each of the 4 files into its own data frame
#         (Hint:  they're tab-separated)
admiss_core = pd.read_csv("/Users/AlinaSanchez/AdmissionsCorePopulatedTable.txt",sep="\t",index_col="PatientID")
admiss_diag_core = pd.read_csv("/Users/AlinaSanchez/AdmissionsDiagnosesCorePopulatedTable.txt",sep="\t",index_col="PatientID")
patient_core = pd.read_csv("/Users/AlinaSanchez/PatientCorePopulatedTable.txt",sep="\t",index_col="PatientID")
labs_core = pd.read_csv("/Users/AlinaSanchez/LabsCorePopulatedTable.txt",sep="\t",index_col="PatientID")

In [4]:
# 1) 
admiss_core, 
patient_core
labs_core

,AdmissionID,LabName,LabValue,LabUnits,LabDateTime
PatientID,,,,,
1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,URINALYSIS: RED BLOOD CELLS,1.8,rbc/hpf,1992-07-01 01:36:17.910
1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,METABOLIC: GLUCOSE,103.3,mg/dL,1992-06-30 09:35:52.383
1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,CBC: MCH,35.8,pg,1992-06-30 03:50:11.777
1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,METABOLIC: CALCIUM,8.9,mg/dL,1992-06-30 12:09:46.107
1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,CBC: RED BLOOD CELL COUNT,4.8,m/cumm,1992-07-01 01:31:08.677
...,...,...,...,...,...
F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,CBC: HEMOGLOBIN,13.6,gm/dl,2012-04-21 03:23:50.883
F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,CBC: MCH,26.2,pg,2012-04-21 03:18:44.127
F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,METABOLIC: CHLORIDE,104.4,mmol/L,2012-04-21 02:58:57.840
F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,METABOLIC: GLUCOSE,63.3,mg/dL,2012-04-21 02:50:04.503
F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,CBC: MCHC,38.6,g/dl,2012-04-21 03:27:10.293

In [17]:
admiss_core

,AdmissionID,AdmissionStartDate,AdmissionEndDate
PatientID,,,
7A025E77-7832-4F53-B9A7-09A3F98AC17E,7,2011-10-12 14:55:02.027,2011-10-22 01:16:07.557
DCE5AEB8-6DB9-4106-8AE4-02CCC5C23741,1,1993-02-11 18:57:04.003,1993-02-24 17:22:29.713
DCE5AEB8-6DB9-4106-8AE4-02CCC5C23741,2,2002-11-28 19:06:31.117,2002-12-04 19:14:40.797
DCE5AEB8-6DB9-4106-8AE4-02CCC5C23741,3,2011-07-19 18:42:45.287,2011-07-25 04:57:42.053
886B5885-1EE2-49F3-98D5-A2F02EB8A9D4,1,1994-12-03 22:20:46.077,1994-12-20 20:24:56.010
...,...,...,...
7A025E77-7832-4F53-B9A7-09A3F98AC17E,2,1982-10-14 07:01:43.613,1982-10-21 16:44:00.310
7A025E77-7832-4F53-B9A7-09A3F98AC17E,3,1990-02-23 04:28:34.457,1990-03-13 15:55:29.837
7A025E77-7832-4F53-B9A7-09A3F98AC17E,4,1994-05-15 11:34:00.840,1994-05-19 23:04:04.877
7A025E77-7832-4F53-B9A7-09A3F98AC17E,5,2001-01-10 11:04:58.943,2001-01-27 00:54:18.730
7A025E77-7832-4F53-B9A7-09A3F98AC17E,6,2001-12-29 20:28:01.050,2002-01-18 18:16:04.423

In [18]:
patient_core

,PatientGender,PatientDateOfBirth,PatientRace,PatientMaritalStatus,PatientLanguage,PatientPopulationPercentageBelowPoverty
PatientID,,,,,,
FB2ABB23-C9D0-4D09-8464-49BF0B982F0F,Male,1947-12-28 02:45:40.547,Unknown,Married,Icelandic,18.08
64182B95-EB72-4E2B-BE77-8050B71498CE,Male,1952-01-18 19:51:12.917,African American,Separated,English,13.03
DB22A4D9-7E4D-485C-916A-9CD1386507FB,Female,1970-07-25 13:04:20.717,Asian,Married,English,6.67
6E70D84D-C75F-477C-BC37-9177C3698C66,Male,1979-01-04 05:45:29.580,White,Married,English,16.09
C8556CC0-32FC-4CA5-A8CD-9CCF38816167,Female,1921-04-11 11:39:49.197,White,Married,English,18.20
...,...,...,...,...,...,...
135C831F-7DA5-46C0-959C-EBCBD8810B43,Male,1971-05-13 04:40:05.623,White,Unknown,Spanish,12.38
8856096E-E59C-4156-A767-C091AF799C80,Female,1988-11-25 02:59:36.373,White,Divorced,English,11.08
6623F5D6-D581-4268-9F9B-21612FBBF7B5,Female,1943-02-17 15:36:13.787,Asian,Single,Spanish,14.49
65A7FBE0-EA9F-49E9-9824-D8F3AD98DAC0,Female,1962-11-30 06:28:33.110,White,Separated,Spanish,17.98
FB909FAE-72DD-4F6F-9828-D92183DF185F,Male,1940-07-15 12:18:41.080,White,Single,Spanish,14.90

In [19]:
labs_core

,AdmissionID,LabName,LabValue,LabUnits,LabDateTime
PatientID,,,,,
1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,URINALYSIS: RED BLOOD CELLS,1.8,rbc/hpf,1992-07-01 01:36:17.910
1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,METABOLIC: GLUCOSE,103.3,mg/dL,1992-06-30 09:35:52.383
1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,CBC: MCH,35.8,pg,1992-06-30 03:50:11.777
1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,METABOLIC: CALCIUM,8.9,mg/dL,1992-06-30 12:09:46.107
1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,CBC: RED BLOOD CELL COUNT,4.8,m/cumm,1992-07-01 01:31:08.677
...,...,...,...,...,...
F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,CBC: HEMOGLOBIN,13.6,gm/dl,2012-04-21 03:23:50.883
F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,CBC: MCH,26.2,pg,2012-04-21 03:18:44.127
F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,METABOLIC: CHLORIDE,104.4,mmol/L,2012-04-21 02:58:57.840
F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,METABOLIC: GLUCOSE,63.3,mg/dL,2012-04-21 02:50:04.503
F0B53A2C-98CA-415D-B928-E3FD0E52B22A,6,CBC: MCHC,38.6,g/dl,2012-04-21 03:27:10.293

In [21]:
# Dates!

In [5]:
##################################################################################################################
#
# YouDo: Notice that there are many columns with dates, but pandas assumed they're strings
#
#        1) use the pd.to_datetime() method to transform all of the time columns to have type datetime
#            # stretch goal:  do it in a loop based on the string 'Date' appearing in the column name
#
# Show the type
def convert_cols_to_datetime(df):
    for col in df:
        if "date" in col.lower() and type(df[col]) is not np.dtype('datetime64[ns]'):
            df[col] = pd.to_datetime(df[col])

In [6]:

# 1) 
convert_cols_to_datetime(admiss_core)
convert_cols_to_datetime(admiss_diag_core)
convert_cols_to_datetime(patient_core)
convert_cols_to_datetime(labs_core)

In [7]:
admiss_core.iloc[3]['AdmissionEndDate']-admiss_core.iloc[3]['AdmissionStartDate']

Timedelta('5 days 10:14:56.766000')

In [9]:
# As is typical in complex data sets, informtion about each patient is broken up into several different
# tables, cross-referenced by a patient id
##################################################################################################################
#
# YouDo: Print out the records from each of the four tables for patient number
# 7A025E77-7832-4F53-B9A7-09A3F98AC17E	
pid='7A025E77-7832-4F53-B9A7-09A3F98AC17E'
admiss_core.loc[admiss_core.index== pid]
#admiss_core

,AdmissionID,AdmissionStartDate,AdmissionEndDate
PatientID,,,
7A025E77-7832-4F53-B9A7-09A3F98AC17E,7,2011-10-12 14:55:02.027,2011-10-22 01:16:07.557
7A025E77-7832-4F53-B9A7-09A3F98AC17E,1,1978-06-29 07:29:11.593,1978-07-10 04:05:51.787
7A025E77-7832-4F53-B9A7-09A3F98AC17E,2,1982-10-14 07:01:43.613,1982-10-21 16:44:00.310
7A025E77-7832-4F53-B9A7-09A3F98AC17E,3,1990-02-23 04:28:34.457,1990-03-13 15:55:29.837
7A025E77-7832-4F53-B9A7-09A3F98AC17E,4,1994-05-15 11:34:00.840,1994-05-19 23:04:04.877
7A025E77-7832-4F53-B9A7-09A3F98AC17E,5,2001-01-10 11:04:58.943,2001-01-27 00:54:18.730
7A025E77-7832-4F53-B9A7-09A3F98AC17E,6,2001-12-29 20:28:01.050,2002-01-18 18:16:04.423

In [10]:
labs_core.loc[labs_core.index== pid]

,AdmissionID,LabName,LabValue,LabUnits,LabDateTime
PatientID,,,,,
7A025E77-7832-4F53-B9A7-09A3F98AC17E,1,METABOLIC: CARBON DIOXIDE,20.9,mmol/L,1978-06-29 22:56:25.430
7A025E77-7832-4F53-B9A7-09A3F98AC17E,1,METABOLIC: BILI TOTAL,0.3,mg/dL,1978-06-30 00:55:28.273
7A025E77-7832-4F53-B9A7-09A3F98AC17E,1,METABOLIC: CALCIUM,7.4,mg/dL,1978-06-30 07:11:48.760
7A025E77-7832-4F53-B9A7-09A3F98AC17E,1,CBC: NEUTROPHILS,2.8,k/cumm,1978-06-30 00:01:24.477
7A025E77-7832-4F53-B9A7-09A3F98AC17E,1,CBC: MCHC,32.2,g/dl,1978-06-30 04:33:20.790
...,...,...,...,...,...
7A025E77-7832-4F53-B9A7-09A3F98AC17E,7,METABOLIC: ALT/SGPT,65.9,U/L,2011-10-21 22:37:12.087
7A025E77-7832-4F53-B9A7-09A3F98AC17E,7,CBC: HEMOGLOBIN,11.6,gm/dl,2011-10-22 00:25:12.860
7A025E77-7832-4F53-B9A7-09A3F98AC17E,7,CBC: RDW,14.7,%,2011-10-21 21:29:42.703
7A025E77-7832-4F53-B9A7-09A3F98AC17E,7,CBC: HEMATOCRIT,30.3,%,2011-10-22 00:17:18.873
7A025E77-7832-4F53-B9A7-09A3F98AC17E,7,URINALYSIS: PH,5.2,no unit,2011-10-21 22:45:20.057

In [23]:
# SQL-like joins
jdf =  patient_core.join(labs_core, how='left')

In [24]:
jdf.shape, patient_core.shape, labs_core.shape

((111483, 11), (100, 6), (111483, 5))

In [26]:
# Holy cow!  this patient has lots of lab results in her record
# This is synthetic data, so it's bound to have weird things.  Is that normal in this data?
##################################################################################################################
#
# You do:
#   1) Compute the average & standard deviation of number of labs per patient.
#         hint:  Consider pd.groupby()
#
print("Stats on Number of Labs per Patient")
print(jdf.groupby('PatientID').size().describe())
#print(...)


#   2) Compute a list of each lab and how many orders for that lab are in the data frame
#    

print('\n', "Number of each lab")

jdf.groupby('LabName').size()
#print(...)

Stats on Number of Labs per Patient
count     100.00000
mean     1114.83000
std       539.36152
min        86.00000
25%       706.25000
50%      1032.50000
75%      1441.25000
max      2760.00000
dtype: float64

 Number of each lab

LabName
CBC: ABSOLUTE LYMPHOCYTES        3162
CBC: ABSOLUTE NEUTROPHILS        3210
CBC: BASOPHILS                   3165
CBC: EOSINOPHILS                 3191
CBC: HEMATOCRIT                  3211
CBC: HEMOGLOBIN                  3193
CBC: LYMPHOCYTES                 3162
CBC: MCH                         3191
CBC: MCHC                        3202
CBC: MEAN CORPUSCULAR VOLUME     3175
CBC: MONOCYTES                   3129
CBC: NEUTROPHILS                 3224
CBC: PLATELET COUNT              3177
CBC: RDW                         3188
CBC: RED BLOOD CELL COUNT        3174
CBC: WHITE BLOOD CELL COUNT      3209
METABOLIC: ALBUMIN               3202
METABOLIC: ALK PHOS              3154
METABOLIC: ALT/SGPT              3155
METABOLIC: ANION GAP             3166
METABOLIC: AST/SGOT              3179
METABOLIC: BILI TOTAL            3182
METABOLIC: BUN                   3158
METABOLIC: CALCIUM               3179
METABOLIC: CARBON DIOXIDE        3218
METABOLIC: CHLORIDE              3190
METABOLIC: CREATININE            3193
METABOLIC: GLUCOSE               3202
METABOLIC: POTASSIUM             3185
METABOLIC: SODIUM                3207
METABOLIC: TOTAL PROTEIN         3177
URINALYSIS: PH                   3187
URINALYSIS: RED BLOOD CELLS      3187
URINALYSIS: SPECIFIC GRAVITY     3181
URINALYSIS: WHITE BLOOD CELLS    3218
dtype: int64

In [27]:
# It seems that this data set has the same patient getting the same labs perhaps dozens of times.
# Lets make a visualization of one of the time vs. one of the lab values for a specific patient.
##################################################################################################################
#
# You do:
#   1) Find the patient/lab combination with the most labs taken

#Help from Chat GPT 4.0 with ensuring my code is right- similar to the code above
pt_most_labs=jdf.groupby('PatientID').size().sort_values().index[-1]

print(f"Patient with the most labs: {pt_most_labs}")

#   2) For the most-measured patient/lab combination, make a time vs lab-value plot
#    Hint:  you can "group by" multiple columns

Patient with the most labs: 80D356B4-F974-441F-A5F2-F95986D119A2

In [28]:
# 1) 
jdf.groupby(['PatientID','LabName']).size().sort_values()

PatientID                             LabName
A50BE9B4-8A0B-4169-B894-F7BD86D7D90B  CBC: LYMPHOCYTES                 1
B7E9FC4C-5182-4A34-954E-CEF5FC07E96D  URINALYSIS: SPECIFIC GRAVITY     1
                                      CBC: HEMATOCRIT                  1
A50BE9B4-8A0B-4169-B894-F7BD86D7D90B  METABOLIC: SODIUM                1
B7E9FC4C-5182-4A34-954E-CEF5FC07E96D  CBC: EOSINOPHILS                 2
                                                                      ..
80D356B4-F974-441F-A5F2-F95986D119A2  CBC: HEMOGLOBIN                 83
                                      METABOLIC: ALT/SGPT             84
                                      METABOLIC: POTASSIUM            84
                                      CBC: PLATELET COUNT             84
                                      CBC: HEMATOCRIT                 88
Length: 3499, dtype: int64

In [29]:
thebusypatient = '' # put patient ID here
thebusylab = '' #put the lab name here
subdf = jdf.loc[(jdf.index==thebusypatient) & (jdf.LabName.str.startswith(thebusylab))]

In [51]:
# 2) 
# https://matplotlib.org/ helped me understand how to use the matplotlib widget better- no success
#Tried using plotly- no success

dts = subdf['LabDateTime']
vls = subdf['LabValue']

# Create the plot 
fig = px.line(subdf, x=dts, y=vls, title='Lab Values Over Time', labels={'x': 'Date', 'y': 'Lab Value'})
fig.update_traces

# Show the plot
fig.show()

#It's not working and I tried other codes suggested and no luck

ValueError: Cannot accept list of column references or list of columns for both `x` and `y`.

In [45]:
##################################################################################################################
#
# You do:
#   Closely inspect the plot you made.  
#
# 1) In order to compare this to another data set, your PI wants to know what the lab value was on August 6, 1985.  
#    What would you tell him/her (including all caveats)?
#
# 2) How about the value for December 14, 1991?

#This code was suggested by previous users on StackOverflow, but I feel it is not working?
date = '1985-08-06'
exact_entries = labs_core[labs_core.index.str.contains(date)]


print(exact_entries)

Empty DataFrame
Columns: [AdmissionID, LabName, LabValue, LabUnits, LabDateTime]
Index: []

In [ ]:
#I was not able to succesfully make the graph requested above and prevented me from analyzing the results.